.form {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: none;
}

.form__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
}

.form__container {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
}

.form__profile {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 123px 19px;
  max-width: 430px;
  height: 322px;
  background-color: #fff;
  border-radius: 10px;
}

fieldset {
  margin-top: 76px;
  border: none;
}

.form__close-btn {
  background-image: url(../images/CloseIcon.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 26px;
  width: 26px;
  position: absolute;
  top: -54px;
  right: 25px;
  border: none;
}
.form__close-btn:hover {
  opacity: 50%;
  cursor: pointer;
}

.form__title {
  position: absolute;
  left: 52px;
  width: 238px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

.form__input {
  width: calc(100% - 44px);
  margin: 30px 22px 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__submit-btn {
  width: calc(100% - 44px);
  /* max-width: 238px; */
  padding: 14px 0;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin: 46px 22px 25px;
}
.form__submit-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.open__popup {
  display: block;
}

/* media query */
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .form__profile {
    width: 100%;
    height: 322px;
    margin: 180px auto;
  }

  .form__close-btn {
    top: -50px;
    right: 370px;
    width: 40px;
    height: 40px;
  }
  .form__title {
    left: 455px;
  }
  .form__submit-btn {
    padding: 13px 124px 18px 125px;
  }
}
