.modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: none;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 5);
  opacity: 0.6;
}

.modal__container {
  position: absolute;
  top: 136px;
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
  max-width: 816px;
}

.modal__card {
  width: fit-content;
  display: table;
}

.modal__card-image {
  width: 100%;
  min-width: 240px;
  height: auto;
  min-height: 310px;
  max-height: 540px;
}

.modal__open {
  display: block;
}

.modal__button-close {
  background-image: url(../images/CloseIcon.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  position: absolute;
  right: -30px;
  top: -40px;
  border: none;
}
.modal__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  margin-left: auto;
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .modal__container {
    top: 90px;
  }
}
